<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">
        <activity
            android:name=".HealthAPIActivity"
            android:exported="false" />
        <activity
            android:name=".FeaturedItems"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HealthyFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".MainDoctor"
            android:exported="false" />
        <activity
            android:name=".Bottomnavigation"
            android:exported="false" />
        <activity
            android:name=".Neurological"
            android:exported="false" />
        <activity
            android:name=".CognitiveImpairment"
            android:exported="false" />
        <activity
            android:name=".NervousSystem"
            android:exported="false" />
        <activity
            android:name=".BloodClotting"
            android:exported="false" />
        <activity
            android:name=".Anemia"
            android:exported="false" />
        <activity
            android:name=".bloodCirulation"
            android:exported="false" />
        <activity
            android:name=".JointHealth"
            android:exported="false" />
        <activity
            android:name=".MuscleHealth"
            android:exported="false" />
        <activity
            android:name=".BoneHealth"
            android:exported="false" />
        <activity
            android:name=".BoneMuscleJointHealth"
            android:exported="false" />
        <activity
            android:name=".EyeStructure"
            android:exported="false" />
        <activity
            android:name=".Vision"
            android:exported="false" />
        <activity
            android:name=".Eyes"
            android:exported="false" />
        <activity
            android:name=".Nails"
            android:exported="false" />
        <activity
            android:name=".Hair"
            android:exported="false" />
        <activity
            android:name=".skin"
            android:exported="false" />
        <activity
            android:name=".SkinandHair"
            android:exported="false" />
        <activity
            android:name=".Cardiovascularhealth"
            android:exported="false" />
        <activity
            android:name=".GrowthandDevelopment"
            android:exported="false" />
        <activity
            android:name=".DigestiveAndMetabolicHealth"
            android:exported="false" />
        <activity
            android:name=".MentalAndHealth"
            android:exported="false" />
        <activity
            android:name=".ImmuneSystemHealth"
            android:exported="false" />
        <activity
            android:name=".CustomExpandableListAdapter"
            android:exported="false" />
        <activity
            android:name=".EnergyVitality"
            android:exported="false" />
        <activity
            android:name=".GeneralSymptoms"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Signup_Activity"
            android:exported="true" />
        <activity
            android:name=".MainHomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SigninActivity"
            android:exported="true" />
    </application>

</manifest>